.ProductCardCtn{
    width: 300px;
    height: 500px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.ProductCardMedia{
    height: 240px;
    width: 100%;
    object-fit: fill;
}

.ProductCardTextCtn{
    text-align: left;
}