.ProductPageCtn{
    margin: 5%;
    min-height: 100%;
}

.ProductInfoCtn > * {
    margin-bottom: 50px;
}

.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.ProductInfoCtn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-left: 5%;
}

.ProductPriceTxt{
    margin-top: 10px;
    margin-bottom: 40px;
}

.ProductRatingCtn{
    margin-top: 5px;
    margin-bottom: 10px;
}